  <ul class="actions">
    <li class="minibutton"><a href="/"
       class="action-home-page">Bethany.WayKern.Org</a></li>
    <li class="minibutton"><a href="{{base_url}}/"
       class="action-home-page">Discussion</a></li>
    <li class="minibutton"><a href="/bank/index.html"
       class="action-home-page">Bank</a></li>
    <li class="minibutton"><a href="/origDocs/index.html"
       class="action-home-page">Original documents</a></li>
    <li class="minibutton"><a href="/account.html"
       class="action-home-page">Account</a></li>
  </ul>

